<h2 mat-dialog-title>Edit book</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="standard">
    <textarea matInput placeholder="Book name" formControlName="name">
    </textarea>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <textarea matInput cdkTextareaAutosize placeholder="Book description" formControlName="desc">
    </textarea>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <textarea matInput placeholder="Book author" formControlName="author">
    </textarea>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <textarea matInput placeholder="Book imageLink" formControlName="imageLink">
    </textarea>
  </mat-form-field>

  <mat-checkbox formControlName="isFavorite"
    >favorite?</mat-checkbox
  >
  <mat-checkbox formControlName="isRead">read?</mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>

  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
